attributes:
  # === Прямые поля MenuItemEntity ===
  - jsonField: id
    entityPath: id
    fieldType: java.lang.Long

  - jsonField: title
    entityPath: title
    fieldType: java.lang.String

  - jsonField: path
    entityPath: path
    fieldType: java.lang.String

  - jsonField: isActive
    entityPath: isActive
    fieldType: java.lang.Boolean

  - jsonField: inheritParentPermissions
    entityPath: inheritParentPermissions
    fieldType: java.lang.Boolean

  - jsonField: availableEveryone
    entityPath: availableEveryone
    fieldType: java.lang.Boolean

  - jsonField: createDate
    entityPath: createDate
    fieldType: java.time.OffsetDateTime

  - jsonField: lastUpdateDate
    entityPath: lastUpdateDate
    fieldType: java.time.OffsetDateTime

  # === @OneToOne связи ===
  # MenuItemEntity -> DocumentEntity (поле "document")
  - jsonField: documentId
    entityPath: document.id
    fieldType: java.lang.Long
    joinInfo:
      - path: document        # Имя поля в MenuItemEntity
        alias: doc            # Уникальный alias для этого join'а
        type: LEFT

  - jsonField: documentAllowComments
    entityPath: document.allowComments
    fieldType: java.lang.Boolean
    joinInfo:
      - path: document
        alias: doc
        type: LEFT

  - jsonField: documentVersion
    entityPath: document.version
    fieldType: java.lang.Integer
    joinInfo:
      - path: document
        alias: doc
        type: LEFT

  - jsonField: documentState
    entityPath: document.state
    fieldType: java.lang.String
    joinInfo:
      - path: document
        alias: doc
        type: LEFT

  # === @ManyToOne связи ===
  # MenuItemEntity -> UserEntity (поле "creator")
  - jsonField: creatorFullname
    entityPath: creator.fullName
    fieldType: java.lang.String
    joinInfo:
      - path: creator         # Имя поля в MenuItemEntity
        alias: cr             # Уникальный alias
        type: LEFT

  # MenuItemEntity -> UserEntity (поле "lastModifier")
  - jsonField: lastModifierFullname
    entityPath: lastModifier.fullName
    fieldType: java.lang.String
    joinInfo:
      - path: lastModifier
        alias: lm
        type: LEFT

  # MenuItemEntity -> MenuItemEntity (поле "parent")
  - jsonField: parentTitle
    entityPath: parent.title
    fieldType: java.lang.String
    joinInfo:
      - path: parent
        alias: par
        type: LEFT

  # === @OneToMany связи (коллекции) ===
  # MenuItemEntity -> DocumentEntity -> Set<DocumentAttachmentEntity>
  # Путь: document.attachments - сначала join'им document, затем коллекцию attachments
  #
  # ВАЖНО: entityPath начинается с "attachments" (имя поля-коллекции),
  # а НЕ с "document.attachments"!
  - jsonField: attachmentFileName
    entityPath: attachments.fileName       # Начинается с коллекции!
    fieldType: java.lang.String
    joinInfo:
      - path: document                     # Шаг 1: join @OneToOne поле
        alias: doc_att1                    # Уникальный alias для этого атрибута
        type: LEFT
      - path: attachments                  # Шаг 2: join @OneToMany коллекцию
        alias: att_att1                    # Уникальный alias для коллекции
        type: LEFT

  - jsonField: attachmentExtension
    entityPath: attachments.extension
    fieldType: java.lang.String
    joinInfo:
      - path: document
        alias: doc_att2                    # Разные alias для разных атрибутов!
        type: LEFT
      - path: attachments
        alias: att_att2
        type: LEFT

  # === ПРИМЕЧАНИЯ ===
  #
  # 1. Формат конфигурации:
  #    - jsonField: имя поля в JSON запросе от клиента
  #    - entityPath: реальный путь к полю в JPA сущности
  #    - path в joinInfo: имя поля связи в ТЕКУЩЕЙ сущности
  #    - alias в joinInfo: уникальный идентификатор join'а
  #
  # 2. Для @ManyToOne/@OneToOne:
  #    entityPath: creator.email
  #    joinInfo: [{path: creator, alias: cr, type: LEFT}]
  #
  # 3. Для @OneToMany/@ManyToMany:
  #    entityPath: attachments.fileName    # Начинается с поля-коллекции!
  #    joinInfo:
  #      - {path: document, alias: d, type: LEFT}
  #      - {path: attachments, alias: a, type: LEFT}
  #
  # 4. Уникальность alias:
  #    Каждый атрибут должен иметь уникальные alias'ы в joinInfo,
  #    даже если joins ведут к тем же полям!
  #
  # 5. DISTINCT:
  #    При поиске по коллекциям автоматически используется DISTINCT
  #    для предотвращения дубликатов результатов.
