attributes:
  # === Прямые поля MenuItemEntity ===
  - attributeType: SIMPLE
    jsonField: id
    entityPath: id
    fieldType: java.lang.Long

  - attributeType: SIMPLE
    jsonField: title
    entityPath: title
    fieldType: java.lang.String

  - attributeType: SIMPLE
    jsonField: path
    entityPath: path
    fieldType: java.lang.String

  - attributeType: SIMPLE
    jsonField: isActive
    entityPath: isActive
    fieldType: java.lang.Boolean

  - attributeType: SIMPLE
    jsonField: inheritParentPermissions
    entityPath: inheritParentPermissions
    fieldType: java.lang.Boolean

  - attributeType: SIMPLE
    jsonField: availableEveryone
    entityPath: availableEveryone
    fieldType: java.lang.Boolean

  - attributeType: SIMPLE
    jsonField: createDate
    entityPath: createDate
    fieldType: java.time.OffsetDateTime

  - attributeType: SIMPLE
    jsonField: lastUpdateDate
    entityPath: lastUpdateDate
    fieldType: java.time.OffsetDateTime

  # === @OneToOne связи ===
  # MenuItemEntity -> DocumentEntity (поле "document")
  - attributeType: MULTIPLE
    jsonField: documentId
    entityPath: document.id
    fieldType: java.lang.Long
    joinInfo:
      - path: document        # Имя поля в MenuItemEntity
        type: LEFT

  - attributeType: MULTIPLE
    jsonField: documentAllowComments
    entityPath: document.allowComments
    fieldType: java.lang.Boolean
    joinInfo:
      - path: document
        type: LEFT

  - attributeType: MULTIPLE
    jsonField: documentVersion
    entityPath: document.version
    fieldType: java.lang.Integer
    joinInfo:
      - path: document
        type: LEFT

  - attributeType: MULTIPLE
    jsonField: documentState
    entityPath: document.state
    fieldType: java.lang.String
    joinInfo:
      - path: document
        type: LEFT

  # === @ManyToOne связи ===
  # MenuItemEntity -> UserEntity (поле "creator")
  - attributeType: MULTIPLE
    jsonField: creatorFullname
    entityPath: creator.fullName
    fieldType: java.lang.String
    joinInfo:
      - path: creator         # Имя поля в MenuItemEntity
        type: LEFT

  # MenuItemEntity -> UserEntity (поле "lastModifier")
  - attributeType: MULTIPLE
    jsonField: lastModifierFullname
    entityPath: lastModifier.fullName
    fieldType: java.lang.String
    joinInfo:
      - path: lastModifier
        type: LEFT

  # MenuItemEntity -> MenuItemEntity (поле "parent")
  - attributeType: MULTIPLE
    jsonField: parentTitle
    entityPath: parent.title
    fieldType: java.lang.String
    joinInfo:
      - path: parent
        type: LEFT

  # === @OneToMany связи (коллекции) ===
  # MenuItemEntity -> DocumentEntity -> Set<DocumentAttachmentEntity>
  # Путь: document.attachments - сначала join'им document, затем коллекцию attachments
  #
  # ВАЖНО: entityPath начинается с "attachments" (имя поля-коллекции),
  # а НЕ с "document.attachments"!
  - attributeType: MULTIPLE
    jsonField: attachmentFileName
    entityPath: document.attachments.fileName       # Начинается с коллекции!
    fieldType: java.lang.String
    joinInfo:
      - path: document                     # Шаг 1: join @OneToOne поле
        type: LEFT
      - path: attachments                  # Шаг 2: join @OneToMany коллекцию
        type: LEFT

  - attributeType: MULTIPLE
    jsonField: attachmentExtension
    entityPath: document.attachments.extension
    fieldType: java.lang.String
    joinInfo:
      - path: document
        type: LEFT
      - path: attachments
        type: LEFT

  # === ПРИМЕЧАНИЯ ===
  #
  # 1. Формат конфигурации:
  #    - jsonField: имя поля в JSON запросе от клиента
  #    - entityPath: реальный путь к полю в JPA сущности
  #    - path в joinInfo: имя поля связи в ТЕКУЩЕЙ сущности
  #    - alias в joinInfo: уникальный идентификатор join'а
  #
  # 2. Для @ManyToOne/@OneToOne:
  #    entityPath: creator.email
  #    joinInfo: [{path: creator, alias: cr, type: LEFT}]
  #
  # 3. Для @OneToMany/@ManyToMany:
  #    entityPath: attachments.fileName    # Начинается с поля-коллекции!
  #    joinInfo:
  #      - {path: document, alias: d, type: LEFT}
  #      - {path: attachments, alias: a, type: LEFT}
  #
  # 4. DISTINCT:
  #    При поиске по коллекциям автоматически используется DISTINCT
  #    для предотвращения дубликатов результатов.
